{% extends 'template/base.html' %}

{% block title_body %}
    {{ title }}
{% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}
        <h1>Приветствую {{ current_user.login }}, рады тебя видеть!</h1>
        {% else %}
        <h1>Вы не авторизованы!</h1>
    {% endif %}
    <p>{{ User.query.filter_by(login='Ryize').first().login }}</p>

    <ul>
        {#    {% for i in User.query.all() %}#}
        {% for i in persons %}
            {% if i.login != 'Ryize' %}
                <li>{{ i.id }}) {{ i.login }}</li>
            {% elif i.login == 'Ryize' %}
                <li>Администратор</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
